.page {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 880px;
  min-height: 100vh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /*– свойство нужно для сглаживания кастомных шрифтов в Safari/Chrome для macOS/iOS.*/
  -moz-osx-font-smoothing: grayscale; /*– свойство нужно для сглаживания кастомных шрифтов в браузере Firefox для macOS/iOS.*/
  text-rendering: optimizeLegibility; /*обеспечивает качественный кернинг и лигатуры*/
  margin: 0 auto;
  
}
